<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    {{template "header" .}}
    <main class="main-about">
      <div>
        <h1 class="about-title">About Daily Vim</h1>
        <p>Hey! I'm Thomas, the creator of Daily Vim.</p>
        <p>
          Learning Vim can be a daunting task, but that is where Daily Vim comes
          in to break it down into bite-sized chunks.
        </p>
        <p>
          Each day, you'll find a new Vim tip or trick that I've discovered and
          found useful in my own coding. Some days it will be a simple command,
          other days a productivity hack. But it will always be something small,
          you can immediately apply to your own Vim usage.
        </p>
        <p>
          If you want to contribute your own tricks and ideas, feel free to open
          a pull-request with your changes in the data/tips.json file.
        </p>
        <p>Happy Vimming!</p>
      </div>
    </main>
    <script src="/static/js/script.js"></script>
  </body>
</html>
