@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  background: hsla(204, 10%, 12%, 1);
  color: #fbfccc;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
}

header {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
}

header > * {
  cursor: pointer;
}

#title {
  letter-spacing: 0.3rem;
  font-size: 5rem;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

nav ul {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

nav ul li a {
  color: inherit;
  text-decoration: inherit;
}

nav ul li a:hover {
  color: #fbfcff;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.tip-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: hsla(204, 10%, 12%, 1);
  max-width: 35rem;
  padding: 20px 40px;
  border: solid 2px #fbfccc;
  border-radius: 16px;
}

.tip-container a {
  color: #fbfccc;
}

.tip-content {
  font-size: 1.2rem;
}

.tip-link {
  align-self: flex-start;
  text-align: left;
  margin-top: auto;
  margin-top: 10%;
  margin-bottom: 20px;
}

.vim-command {
  font-family: monospace;
  background-color: #333;
  padding: 2px 4px;
  border-radius: 3px;
}
